:root {
  --blue: #005cad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  color: white;
  padding-top: 100px;
  background-image: url(./assets/img_topo_cidade.jpg);
  font-family: "Lobster";
}

header p {
  padding-top: 50px;
  position: absolute;

  left: 400px;
  bottom: 640px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  color: black;
  background-image: url(https://scontent.fcgh16-1.fna.fbcdn.net/v/t31.18172-8/27993132_550608725298501_3505292987817812588_o.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeH8VHzHeI2MCxOF-nstK53o1HaxE5ANylbUdrETkA3KVqJ63LXsPxOhJbI4lnAodv1U2BCCPamoWgAhxhe3VOP1&_nc_ohc=-TWu7VAc5MUAX9W_a8C&_nc_ht=scontent.fcgh16-1.fna&oh=7c0afeae11dd5fae4e27528648e54ca5&oe=61B5DC1F);
  background-repeat: no-repeat;
  background-size: 1600px 800px;
}

footer {
  background-color: #191a39;
}

.sobre {
  text-align: center;
  padding-top: 30px;
  color: white;
}

.video {
  display: flex;
  justify-content: center;

  padding-top: 130px;
  padding-bottom: 200px;
}

.curiosidades {
  text-align: center;
  color: white;
}

.curiosidades h2 {
  font-family: "Lobster";
  padding-bottom: 1px;
  padding-top: 10px;
}
.curiosidades li {
  font-family: "Roboto";
  padding: 5px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.insta img {
  height: 100px;
  padding-right: 10px;
}
.face img {
  height: 100px;
}
